.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.filter-btn{
    margin-right: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: none;
  }
 
  .filter-btn-selected{
    margin-right: 12px;
    margin-top: 4px;
    border: none;
    margin-bottom: 4px;
    color: white;
    background-color: rgb(14, 147, 235);
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
